# Virtual Environment
venv/
env/
*.env

# Python
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg
*.egg-info
dist/
build/
*.manifest
*.spec

# Ignore log files
*.log

# IDEs and Text Editors
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db