
:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
  }

  .loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
  }

  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }

  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }

  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }

  @keyframes preloader {
    100% { transform: scale(2); }
  }

html, body {
    height: 100%;
}

body {
    background-color: rgba(253, 182, 88, 0.763); /* Cream-colored background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Wrapper – affects whole page */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Minimum 100% height of the screen */
    flex-grow: 1; /* Stretchning the site, so that it will fill all free space */
}

main {
    flex-grow: 1; /* Makes, that main container fills available space */
}


h1 {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1); /* bright shadow */
}


p {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1); /*  bright shadow  */
    font-weight: bold;
}

.title-box {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgba(30, 144, 255, 0.5); /* subtle blue */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* half-transparent background */
    backdrop-filter: blur(5px); /*subtle background blurry */
}

.red-text {
    color: red;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /*background with all elements */
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-in-out;
    filter: brightness(1) contrast(1); /* Full brightness and contrast of the image */
    opacity: 0; /*Initially hidden */
}


/* Visible layer */
.background-layer.show {
    opacity: 1;
    z-index: 2; /* Setting a layer to visible */
}

/*Hidden layer */
.background-layer.hide {
    opacity: 0;
    z-index: 1; /* hiding the layer */
}

/* styling the content */
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    flex: 1; 
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;  /* enables correct positioning of z-index */
    overflow: hidden;    /* prevents of shifting the elements */
    padding: 15px;
    background: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1;  /* Default z-index */
}

.menu-item:hover {
    transform: scale(1.05);
    background: #ffc1a2b9;
    z-index: 10;  /* Bring it to the front */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

/*Hiding the description at the initial stage */
.menu-item .desc-container {
    display: none; /* Zamiast bezpośrednio na .desc, ukrywamy cały kontener */
    position: relative;
    overflow: hidden;
    text-align: center;
    bottom: 10px;
    left: 22px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Show the description while hovering the cursor */
.menu-item:hover .desc-container {
    display: block;
}

/* Optional additional styles for lists and tags */
.menu-item .desc ul {
    padding-left: 0px;
    list-style-type: disc;
    margin: 5px 0;
}

.menu-item .desc strong {
    font-weight: bold;
    color: red; /* highlight */
}

.menu-item .desc ins {
    text-decoration: underline;
    font-weight: bold;
}


.menu-item .description {
    position: absolute; /* find an alternative to absolute*/
    text-align: center;  
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: #f8f9fa;
    border-radius: 10px;
}


.menu-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    width: auto;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: center;
    z-index: 1; /* prevents from covering the text */
}


.menu-item:hover img {

    transform: scale(1.1);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 10px 20px  rgba(0, 0, 0, 0.3); /* adding shadow */
}

.menu-item:hover .description {
    opacity: 1;
    position: center;
    text-align: center;  /* centering the text */
}

.menu-item {
    position: relative;
    align-items: center;
    text-align: center;
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* making the name of the dish bigger */
.menu-item h5 {
    font-size: 1.5em; /* Bigger font's size */
    font-weight: bold;
    margin-top: 10px;
    position: relative;
    z-index: 2; /* ensurign visibility of the text */
}



ul {
    text-align: center; /* centering the text in li */
    list-style-position: inside; /* bullet point are inside */
    list-style-position: inside; /* shifting the list's bulletpoints (dots, icons) inside */
}

.menu-description li {
    margin-left: -24px;
}

.custom-btn {
    background-color: #ff6a00; /* orange */
    color: black; /* white texty */
    border: none; /* deleting the frame */
    padding: 10px 20px; 
    border-radius: 5px; /* rounding the corners */
}

.custom-btn:hover {
    background-color: #cc5500; /* darker orange after hoverint the cursor */
}


.navbar {
    margin-bottom: 20px;
    background: #1047ab;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

.navbar-nav .nav-link {
    font-size: 1.2em;  /* Increase font size */
    font-weight: bold; /* Make it bold for better visibility */
    padding: 10px 15px; /* Add spacing for better touch experience */
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #cc5500; /* Optional: Change color on hover */
}

.price {
    font-weight: bold;
    color: #d9534f;
    font-size: 1.2em;
}

/* Stopka */
.footer {
    background: #1046aba8;
    color: white;
    padding: 0px 10px;
    width: 100%;
    /* Pozycjonowanie na dole */
    text-align: center;
    position: relative;
}

.footer-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
    position: relative;
}

.footer-image {
    width: 0px; 
    height: 0px;
    transition: all 0.3s ease-in-out;
}

.footer-image.left {
    align-self: flex-start;
    width: 0px; /* Adjust size */
    height: 0px;
}

.footer-image.right {
    align-self: flex-start;
    width: auto; /* Adjust size */
    height: auto;
}


.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 15px;
    width: 30px;
    height: 30px;
}

.social-icons a svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

/* Hover Effect */
.social-icons a:hover svg {
    transform: scale(1.1);
}
